<div id="header">
            <div id="line"></div>
            <h1>Travel with Food</h1>
            <h4>※ 주관이 200% 반영된 글로 개인차가 있을 수 있음 ※<br>copyright 2020 Aeri Cho. All rights reserved</h4>
        </div>